<% provide :title, t(".title") %>
<h1><%= t".about"%></h1>
<p>
  <%= t".b1" %><%= link_to t(".link1"), "http://www.railstutorial.org/" %><%= t".b2" %>
  <%= link_to t(".link2"), "http://www.railstutorial.org/book" %><%= t".b3" %>
  <%= link_to t(".link3"), "http://www.railstutorial.org/book" %>
  <%= t".b4" %>
  <%= link_to t(".link4"), "http://www.railstutorial.org/book" %>.
  <%= t".b5" %>
</p>
