<% provide :title, t(".title") %>
<h1><%= t".help" %></h1>
<p>
  <%= t".b1" %>
  <%= link_to t(".link1"), "http://www.railstutorial.org/help" %>
  <%= t".b2" %>
  <%= link_to t(".link2"), "http://www.railstutorial.org/book" %>
</p>
