<%= search_form_for @q,  url: search_users_path, method: :post, class: "form-inline" do |f| %>
  <div class="form-group">
    <%= f.label :name_or_email_cont, "User Name and Email:" %>
    <%= f.text_field :name_or_email_cont, class: "form-control" %>
    <%= f.submit "Search", class: "btn btn-default" %>
  </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th> <%= sort_link @q, :name,  t("name") %> </th>
      <th> <%= sort_link @q, :email, t("email") %> </th>
    </tr>
  </thead>
  <tbody>
    <% @users .each do |user| %>
    <tr>
      <td> <%= user.name %> </td>
      <td> <%=user.email %> </td>
    </tr>
    <% end %>
  </tbody>
</table>