<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    <%= t"post"%> <%= time_ago_in_words micropost.created_at %> <%= t"ago" %>.
    <% if micropost.user.current_user? current_user %>
      <%= link_to t("delete"), micropost, method: :delete,
        data: { confirm: t("sure") } %>
    <% end %>
  </span>
  <span>
    <%= link_to like_micropost_path(micropost), method: :put do %>
      Like
      <%= micropost.get_upvotes.size %>
    <% end %>
    <%= link_to dislike_micropost_path(micropost), method: :put do %>
      Dislike
      <%= micropost.get_downvotes.size %>
    <% end %>
  </span>
  <span>
  <ul id="comments_<%=micropost.id %>">
    <% if micropost.comments.any? %>
      <%= render micropost.comments %>
    <% end %>
  </ul>
  </span>
  <span>
    <% if current_user.following?(micropost.user) || current_user %>
      <%= render "shared/comment_form", micropost: micropost %>
    <% end %>
  </span>
</li>
