<footer class="footer">
  <small>
    <%= t".b1" %><%= link_to t(".link1"), "http://www.railstutorial.org/" %>
    <%= t".b2" %><%= link_to t(".link2"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), "http://www.michaelhartl.com/" %></li>
    </ul>
  </nav>
</footer>
